<form novalidate [formGroup]="formModel" (ngSubmit)="_onSubmit($event)">
    <div formGroupName="person">
        <div>
            <label>Фамилия:
                <input class="form-control" formControlName="surname" type="text" />
            </label>

            <div class="form-alert">
                {{ getErrorText("surname") }}
            </div>
        </div>

        <div>
            <label>Имя:
                <input class="form-control" formControlName="name" type="text" />
            </label>

            <div class="form-alert">
                {{ getErrorText("name") }}
            </div>
        </div>

        <div>
            <label>Отчество:
                <input class="form-control" formControlName="patronymic" type="text" />
            </label>

            <div class="form-alert">
                {{ getErrorText("patronymic") }}
            </div>
        </div>

       
    </div>

    <div>
        <label>Дата рождения:
            <input class="form-control" formControlName="_dateOfBirth" type="date" />
        </label>

        <div class="form-alert">
            {{ getErrorText("_dateOfBirth") }}
        </div>
    </div>

    <div>
        <label>Средний бал:
            <input class="form-control" formControlName="avaregeGrade" type="number" />
        </label>

        <div class="form-alert">
            {{ getErrorText("avaregeGrade") }}
        </div>
    </div>

    <button type="submit" [disabled]="!formModel.valid">Добавить</button>
</form>
